/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 #include <behaviors.dtsi>
 #include <dt-bindings/zmk/keys.h>
 #include <dt-bindings/zmk/bt.h>
 #include <dt-bindings/zmk/outputs.h>
 
 / {
    keymap {
        compatible = "zmk,keymap";
 
        default_layer {
            bindings = <
                &mo 0
                &mo 1
                &mo 2

                &kp A
                &kp B
            >;
        };

        layer_one {
            bindings = <
                &trans
                &trans
                &trans

                &kp C
                &kp D
            >;
        };

        layer_two {
            bindings = <
                &trans
                &trans
                &trans

                &kp E
                &kp F
            >;
        };
    };
};