#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  BKSP |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |  DEL  |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |  ENTER |  | SPACE |  N   |  M    |  ,    |  .   |   /   | TOG1  |
//                     		  | GUI  | ALT  |  ENTER |  | SPACE | TOG2 |  ALT  |
			bindings = <
&kp ESC  &kp NUM_1 &kp NUM_2 &kp NUM_3 &kp NUM_4 &kp NUM_5                  &kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0 &kp BKSP
&kp TAB  &kp Q     &kp W     &kp E     &kp R     &kp T                      &kp Y     &kp U     &kp I     &kp O     &kp P     &kp DEL
&kp LCTL &kp A     &kp S     &kp D     &kp F     &kp G                      &kp H     &kp J     &kp K     &kp L     &kp SCLN  &kp QUOT
&kp LSFT &kp Z     &kp X     &kp C     &kp V     &kp B   &kp RET   &kp SPC  &kp N     &kp M     &kp CMMA  &kp DOT   &kp FSLH  &mo 1
                   			 		   &kp LGUI  &kp LALT &kp RET   &kp SPC  &kp RALT &mo 2
			>;
		};

		lower_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |       |       |       |
// |       |     |     |      |      |      |                   |      |       |  UP   |       |       |       |
// |       |     |  -  |  =   |  [   |  ]   |                   |      |  LEFT | DOWN  | RIGHT |       |       |
// |       |     |     |      |  \   |  "|" |       |   |       |      |       |       |       |       |       |
//                            |      |      |       |   |       |      |       |
			bindings = <
&trans   &trans    &trans    &trans    &trans     &trans                      &trans    &trans   &trans   &trans    &trans  &trans
&trans   &trans    &trans    &trans    &trans     &trans                      &trans    &trans   &kp UARW &trans    &trans  &trans
&trans   &trans    &kp MINUS &kp EQL   &kp LBKT   &kp RBKT                    &trans    &kp LARW &kp DARW &kp RARW  &trans  &trans
&trans   &trans    &trans    &trans    &kp BSLH   &kp PIPE  &trans   &trans   &trans    &trans   &trans   &trans    &trans  &trans
                   		     		   &trans   &kp HOME    &trans   &trans   &kp END    &trans
			>;
		};

		raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |  F1  |  F2   |  F3   |  F4  |  F5   |       |
// |       |     |     |      |      |      |                   |  F6  |  F7   |  F8   |  F9  |  F10  |       |
// |       |     |     |      |      |      |                   |  F11 |  F12  |  MPRV | MPLY |  MNXT |       |
// |       |     |     |      |      |      | SPACE |   | ENTER |      |       |       |      |       |       |
//                            |      |      | SPACE |   | ENTER |      |       |
			bindings = <
&bt CLR     &kp F1    &kp F2     &kp F3     &kp F4     &kp F5                     &kp F6    &kp F7     &kp F8     &kp F9     &kp F10    &trans
&trans     &trans     &trans     &trans     &trans    &trans                     &trans     &trans    &trans     &trans     &trans      &trans
&trans     &trans     &trans     &trans     &trans    &trans                     &trans     &cp M_PREV &cp M_PLAY &cp M_NEXT &trans	   &trans
&trans     &trans     &trans     &trans     &trans    &trans  &kp SPC  &kp RET   &trans    &trans     &trans     &trans     &trans     &trans
                   		     		        &trans    &trans  &kp SPC  &kp RET   &trans    &trans
			>;
		};
	};
};
